version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: moneytrack-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: moneytrack
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moneytrack-api
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/moneytrack?schema=public
      PORT: 3000
    depends_on:
      - postgres

volumes:
  postgres_data:
